.clock {
  position: relative;
  width: 400px;
  height: 400px;
  border: 10px solid;
  border-radius: 50%;
}

#second {
  position: absolute;
  background: black;
  width: 2px;
  height: 180px;
  margin: 20px 199px;
  animation: rotation 60s infinite linear;
  transform-origin: bottom left;
}

#minute {
  position: absolute;
  background: black;
  width: 6px;
  height: 140px;
  margin: 60px 197px;
  animation: rotation 3600s infinite linear;
  transform-origin: bottom right;
}

#hour {
  position: absolute;
  background: black;
  width: 10px;
  height: 120px;
  margin: 80px 195px;
  animation: rotation 43200s infinite linear;
  transform-origin: bottom left;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.box {
  position: relative;
}

.ball {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 3px solid pink;
  border-radius: 50%;
  animation: bounce 2s infinite;
  background: pink;

}

.step1 {
  position: absolute;
  top: 150px;
  height: 10px;
  width: 220px;
  background: cyan;
}

.step2 {
  position: absolute;
  top: 150px;
  left: 220px;
  margin-top: 20px;
  height: 10px;
  width: 220px;
  background: cyan;
}

.step3 {
  margin-top: 40px;
  position: absolute;
  left: 440px;
  top: 150px;
  height: 10px;
  width: 220px;
  background: cyan;
}

@keyframes bounce {
  from {
    margin: 100pxz 0px;
  }

  to {
    margin: 50px 500px;
  }

  0% {
    transform: translateY(-30%);
  }

  12% {
    transform: translateY(33%);
  }

  24% {
    transform: translateY(-66%);
  }

  36% {
    transform: translateY(33%);
  }

  48% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(33%);
  }
}

.container {
  top: 300px;
  left: 150px;
  height: 50px;
  width: 300px;
  position: relative;
}

button {
  height: 150px;
  width: 150px;
  left: px;
  top: px;
  position: absolute;
  border-radius: 50%;
  border: none;
  background: #2a9d8f;
  color: #264653;
  font-size: 25px;
  font-weight: 700;
  font-family: serif;
}

button:active {
  background: #e76f51;
}

img {
  position: absolute;
  width: 150px;
  transition: all 0.5s ease-out;
}

.leaf1 {
  transform: rotate(90deg);
}

.leaf2 {
  transform: rotate(180deg);
}

.leaf3 {
  transform: rotate(270deg);
}

.container:hover .leaf1 {
  transform: translate3d(-100px, -100px, 10px) rotate(-45deg);
}

.container:hover .leaf2 {
  transform: translate3d(100px, -100px, 10px) rotate(90deg);
}

.container:hover .leaf3 {
  transform: translate3d(-100px, 100px, 10px) rotate(-180deg);
}

.container:hover .leaf4 {
  transform: translate3d(100px, 100px, 10px) rotate(-90deg);
}
